In [1]:
#Importing important libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns',100)

In [2]:
#reading the train file
train = pd.read_csv('./train.csv')
train.head(2)

,loan_id,source,financial_institution,interest_rate,unpaid_principal_bal,loan_term,origination_date,first_payment_date,loan_to_value,number_of_borrowers,debt_to_income_ratio,borrower_credit_score,loan_purpose,insurance_percent,co-borrower_credit_score,insurance_type,m1,m2,m3,m4,m5,m6,m7,m8,m9,m10,m11,m12,m13
0,268055008619,Z,"Turner, Baldwin and Rhodes",4.250,214000,360,2012-03-01,05/2012,95,1.0,22.0,694.0,C86,30.0,0.0,0.0,0,0,0,0,0,0,1,0,0,0,0,0,1
1,672831657627,Y,"Swanson, Newton and Miller",4.875,144000,360,2012-01-01,03/2012,72,1.0,44.0,697.0,B12,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,1,0,1

In [3]:
#spliting categorical and number datatype columns

#train_num = train.select_dtypes(include='number')
num_cols = ['interest_rate','unpaid_principal_bal','loan_term','loan_to_value','number_of_borrowers','insurance_percent','co-borrower_credit_score','borrower_credit_score'
           ,'debt_to_income_ratio']
#if len(train.columns) == len(train_cat.columns)+len(train_num.columns):
#    print(True)
#else:
#    print(False)
train_num = train[num_cols]
train_num.head(2)

,interest_rate,unpaid_principal_bal,loan_term,loan_to_value,number_of_borrowers,insurance_percent,co-borrower_credit_score,borrower_credit_score,debt_to_income_ratio
0,4.250,214000,360,95,1.0,30.0,0.0,694.0,22.0
1,4.875,144000,360,72,1.0,0.0,0.0,697.0,44.0

In [4]:
def cap_outlier(array,k=3):
    upper_bond=array.mean()+k*array.std()
    lower_bond = array.mean()-k*array.std()
    array[array<lower_bond] = lower_bond
    array[array>upper_bond] = upper_bond
    return array

train_num = train_num.apply(cap_outlier,axis=0)
train_num.head(2)

,interest_rate,unpaid_principal_bal,loan_term,loan_to_value,number_of_borrowers,insurance_percent,co-borrower_credit_score,borrower_credit_score,debt_to_income_ratio
0,4.250,214000.0,360,95.0,1.0,27.075679,0.0,694.0,22.0
1,4.875,144000.0,360,72.0,1.0,0.000000,0.0,697.0,44.0

In [5]:
from sklearn.preprocessing import scale
train_num=scale(train_num)

train_num=pd.DataFrame(train_num,columns=num_cols)
train_num.head(2)

,interest_rate,unpaid_principal_bal,loan_term,loan_to_value,number_of_borrowers,insurance_percent,co-borrower_credit_score,borrower_credit_score,debt_to_income_ratio
0,0.832417,0.055678,0.754428,1.596349,-1.207529,3.225106,-1.203344,-1.963070,-0.898442
1,2.195305,-0.564078,0.754428,0.264090,-1.207529,-0.347244,-1.203344,-1.885862,1.362490

In [6]:
cols = [col for col in train.columns if col not in num_cols]
cols

['loan_id',
 'source',
 'financial_institution',
 'origination_date',
 'first_payment_date',
 'loan_purpose',
 'insurance_type',
 'm1',
 'm2',
 'm3',
 'm4',
 'm5',
 'm6',
 'm7',
 'm8',
 'm9',
 'm10',
 'm11',
 'm12',
 'm13']

In [7]:
train1 = train[cols]

In [8]:

#train_num1 = pd.DataFrame(train_num,columns = num_cols)
#train_num1 = train_num1.apply(cap_outlier,axis=0)
#train_num1.head()
train2 = pd.concat([train1,train_num],axis=1)
train2.head(2)

,loan_id,source,financial_institution,origination_date,first_payment_date,loan_purpose,insurance_type,m1,m2,m3,m4,m5,m6,m7,m8,m9,m10,m11,m12,m13,interest_rate,unpaid_principal_bal,loan_term,loan_to_value,number_of_borrowers,insurance_percent,co-borrower_credit_score,borrower_credit_score,debt_to_income_ratio
0,268055008619,Z,"Turner, Baldwin and Rhodes",2012-03-01,05/2012,C86,0.0,0,0,0,0,0,0,1,0,0,0,0,0,1,0.832417,0.055678,0.754428,1.596349,-1.207529,3.225106,-1.203344,-1.963070,-0.898442
1,672831657627,Y,"Swanson, Newton and Miller",2012-01-01,03/2012,B12,0.0,0,0,0,0,0,0,0,0,0,0,1,0,1,2.195305,-0.564078,0.754428,0.264090,-1.207529,-0.347244,-1.203344,-1.885862,1.362490

In [9]:
#train_cat = train2.select_dtypes(include='object')
train_cat=train2[['source','financial_institution','origination_date','first_payment_date','loan_purpose']]
train_cat.columns
#train2.info()

Index(['source', 'financial_institution', 'origination_date',
       'first_payment_date', 'loan_purpose'],
      dtype='object')

In [10]:
print('Source:\n',train_cat.source.value_counts())
print('\nfinancial_institution:\n',train_cat.financial_institution.value_counts())
print('\norigination_date:\n',train_cat.origination_date.value_counts())
print('\nfirst_payment_date:\n', train_cat.first_payment_date.value_counts())
print('\nloan_purpose:\n', train_cat.loan_purpose.value_counts())

Source:
 X    63858
Y    37554
Z    14646
Name: source, dtype: int64

financial_institution:
 OTHER                          49699
Browning-Hart                  31852
Swanson, Newton and Miller      6874
Edwards-Hoffman                 4857
Martinez, Duffy and Bird        4715
Miller, Mcclure and Allen       3158
Nicholson Group                 2116
Turner, Baldwin and Rhodes      1846
Suarez Inc                      1790
Cole, Brooks and Vincent        1642
Richards-Walters                1459
Taylor, Hunt and Rodriguez      1259
Sanchez-Robinson                1193
Sanchez, Hays and Wilkerson      853
Romero, Woods and Johnson        750
Thornton-Davis                   651
Anderson-Taylor                  483
Richardson Ltd                   473
Chapman-Mcmahon                  388
Name: financial_institution, dtype: int64

origination_date:
 2012-02-01    52334
2012-01-01    49093
2012-03-01    14631
Name: origination_date, dtype: int64

first_payment_date:
 04/2012    52840
03/2012    47680
05/2012    15014
02/2012      524
Name: first_payment_date, dtype: int64

loan_purpose:
 A23    58462
B12    29383
C86    28213
Name: loan_purpose, dtype: int64

In [11]:
source = pd.get_dummies(train2.source,prefix='source',drop_first=True)
source.head(2)
train2 = train2.drop('source',axis=1)

financial_institution = pd.get_dummies(train2.financial_institution,drop_first=True,prefix='financial_institution')
train2 = train2.drop('financial_institution',axis=1)
train2 = pd.concat([train2,source,financial_institution],axis=1)

origination_date = pd.get_dummies(train2.origination_date,prefix='origination_date',drop_first=True)
train2 = train2.drop('origination_date',axis=1)
train2=pd.concat([train2,origination_date],axis=1)

first_payment_date = pd.get_dummies(train2.first_payment_date,drop_first = True,prefix='first_payment_date')
train2 = train2.drop('first_payment_date',axis=1)
train2=pd.concat([train2,first_payment_date],axis=1)

loan_purpose = pd.get_dummies(train2.loan_purpose,prefix='loan_purpose',drop_first=True)
train2=train2.drop('loan_purpose',axis=1)
train2=pd.concat([train2,loan_purpose],axis=1)
train2.head(3)

,loan_id,insurance_type,m1,m2,m3,m4,m5,m6,m7,m8,m9,m10,m11,m12,m13,interest_rate,unpaid_principal_bal,loan_term,loan_to_value,number_of_borrowers,insurance_percent,co-borrower_credit_score,borrower_credit_score,debt_to_income_ratio,source_Y,source_Z,financial_institution_Browning-Hart,financial_institution_Chapman-Mcmahon,"financial_institution_Cole, Brooks and Vincent",financial_institution_Edwards-Hoffman,"financial_institution_Martinez, Duffy and Bird","financial_institution_Miller, Mcclure and Allen",financial_institution_Nicholson Group,financial_institution_OTHER,financial_institution_Richards-Walters,financial_institution_Richardson Ltd,"financial_institution_Romero, Woods and Johnson","financial_institution_Sanchez, Hays and Wilkerson",financial_institution_Sanchez-Robinson,financial_institution_Suarez Inc,"financial_institution_Swanson, Newton and Miller","financial_institution_Taylor, Hunt and Rodriguez",financial_institution_Thornton-Davis,"financial_institution_Turner, Baldwin and Rhodes",origination_date_2012-02-01,origination_date_2012-03-01,first_payment_date_03/2012,first_payment_date_04/2012,first_payment_date_05/2012,loan_purpose_B12,loan_purpose_C86
0,268055008619,0.0,0,0,0,0,0,0,1,0,0,0,0,0,1,0.832417,0.055678,0.754428,1.596349,-1.207529,3.225106,-1.203344,-1.963070,-0.898442,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,1
1,672831657627,0.0,0,0,0,0,0,0,0,0,0,0,1,0,1,2.195305,-0.564078,0.754428,0.264090,-1.207529,-0.347244,-1.203344,-1.885862,1.362490,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,1,0
2,742515242108,0.0,0,0,0,0,0,0,0,0,0,0,0,0,1,-1.348203,1.401434,-1.250874,-1.068169,-1.207529,-0.347244,-1.203344,0.250232,0.232024,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0

In [12]:
train2 = train2.drop('loan_id',axis=1)

In [13]:
from collections import Counter
Counter(train2.m13)

Counter({0: 115422, 1: 636})

In [14]:
#percentage of deliquincy
100*(sum(train2.m13)/len(train2.index))

0.5480018611383963

In [15]:
len(train2.columns)

50

In [16]:
#train_test_split
from sklearn.model_selection import train_test_split

In [17]:
X = train2.drop('m13',axis=1)
y = train2['m13']

X_train,X_test,y_train,y_test = train_test_split(X,y,train_size = 0.7,random_state = 100,stratify = y)

In [18]:
from xgboost import XGBClassifier

xgb = XGBClassifier(class_weight = 'balanced')
xgb.fit(X_train,y_train)
y_pred = xgb.predict(X_test)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:171: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [19]:
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score

print('Classification Report:\n',classification_report(y_test,y_pred))
print('ConfusionMatrix:\n',confusion_matrix(y_test,y_pred))

Classification Report:
              precision    recall  f1-score   support

          0       1.00      1.00      1.00     34627
          1       0.75      0.40      0.52       191

avg / total       1.00      1.00      1.00     34818

ConfusionMatrix:
 [[34601    26]
 [  114    77]]

In [20]:
cols = ['m1','m2','m3','m4','m6','m5','m7','m9','m10','m11','m12','interest_rate','unpaid_principal_bal','borrower_credit_score',
       'debt_to_income_ratio','source_Y']

drop_cols = [col for col in X_train.columns if col not in cols]
drop_cols

['insurance_type',
 'm8',
 'loan_term',
 'loan_to_value',
 'number_of_borrowers',
 'insurance_percent',
 'co-borrower_credit_score',
 'source_Z',
 'financial_institution_Browning-Hart',
 'financial_institution_Chapman-Mcmahon',
 'financial_institution_Cole, Brooks and Vincent',
 'financial_institution_Edwards-Hoffman',
 'financial_institution_Martinez, Duffy and Bird',
 'financial_institution_Miller, Mcclure and Allen',
 'financial_institution_Nicholson Group',
 'financial_institution_OTHER',
 'financial_institution_Richards-Walters',
 'financial_institution_Richardson Ltd',
 'financial_institution_Romero, Woods and Johnson',
 'financial_institution_Sanchez, Hays and Wilkerson',
 'financial_institution_Sanchez-Robinson',
 'financial_institution_Suarez Inc',
 'financial_institution_Swanson, Newton and Miller',
 'financial_institution_Taylor, Hunt and Rodriguez',
 'financial_institution_Thornton-Davis',
 'financial_institution_Turner, Baldwin and Rhodes',
 'origination_date_2012-02-01',
 'origination_date_2012-03-01',
 'first_payment_date_03/2012',
 'first_payment_date_04/2012',
 'first_payment_date_05/2012',
 'loan_purpose_B12',
 'loan_purpose_C86']

In [21]:
X_train_1 = X_train.drop(drop_cols,axis=1)
X_test_1 = X_test.drop(drop_cols,axis=1)

In [22]:
#test data
test_set = pd.read_csv('./test.csv')
test_set.head(2)

,loan_id,source,financial_institution,interest_rate,unpaid_principal_bal,loan_term,origination_date,first_payment_date,loan_to_value,number_of_borrowers,debt_to_income_ratio,borrower_credit_score,loan_purpose,insurance_percent,co-borrower_credit_score,insurance_type,m1,m2,m3,m4,m5,m6,m7,m8,m9,m10,m11,m12
0,1,Y,Browning-Hart,3.875,417000,360,01/02/12,Apr-12,75,1,20,790,A23,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2,X,OTHER,4.500,113000,360,01/02/12,Apr-12,80,2,33,793,C86,0,784,0,0,0,0,0,0,0,0,0,0,0,0,0

In [23]:
test_num = test_set[num_cols]
test_num.head(2)

,interest_rate,unpaid_principal_bal,loan_term,loan_to_value,number_of_borrowers,insurance_percent,co-borrower_credit_score,borrower_credit_score,debt_to_income_ratio
0,3.875,417000,360,75,1,0,0,790,20
1,4.500,113000,360,80,2,0,784,793,33

In [24]:

test_num = test_num.apply(cap_outlier,axis=0)
test_num.head(2)

,interest_rate,unpaid_principal_bal,loan_term,loan_to_value,number_of_borrowers,insurance_percent,co-borrower_credit_score,borrower_credit_score,debt_to_income_ratio
0,3.875,417000.0,360,75.0,1,0.0,0,790.0,20.0
1,4.500,113000.0,360,80.0,2,0.0,784,793.0,33.0

In [25]:
test_num=scale(test_num)

test_num=pd.DataFrame(test_num,columns=num_cols)
test_num.head(2)

,interest_rate,unpaid_principal_bal,loan_term,loan_to_value,number_of_borrowers,insurance_percent,co-borrower_credit_score,borrower_credit_score,debt_to_income_ratio
0,0.006336,1.860939,0.748843,0.441531,-1.216630,-0.343189,-1.212759,0.509820,-1.106614
1,1.371267,-0.835886,0.748843,0.731884,0.821943,-0.343189,0.843313,0.587271,0.230015

In [26]:
cols = [col for col in test_set.columns if col not in num_cols]
test_set1 = test_set[cols]

In [27]:
test = pd.concat([test_set1,test_num],axis=1)
test.head(2)

,loan_id,source,financial_institution,origination_date,first_payment_date,loan_purpose,insurance_type,m1,m2,m3,m4,m5,m6,m7,m8,m9,m10,m11,m12,interest_rate,unpaid_principal_bal,loan_term,loan_to_value,number_of_borrowers,insurance_percent,co-borrower_credit_score,borrower_credit_score,debt_to_income_ratio
0,1,Y,Browning-Hart,01/02/12,Apr-12,A23,0,0,0,0,0,0,0,0,0,0,0,0,0,0.006336,1.860939,0.748843,0.441531,-1.216630,-0.343189,-1.212759,0.509820,-1.106614
1,2,X,OTHER,01/02/12,Apr-12,C86,0,0,0,0,0,0,0,0,0,0,0,0,0,1.371267,-0.835886,0.748843,0.731884,0.821943,-0.343189,0.843313,0.587271,0.230015

In [28]:
test.shape

(35866, 28)

In [29]:
source = pd.get_dummies(test.source,prefix='source',drop_first=True)
source.head(2)
test = test.drop('source',axis=1)

financial_institution = pd.get_dummies(test.financial_institution,drop_first=True,prefix='financial_institution')
test = test.drop('financial_institution',axis=1)
test = pd.concat([test,source,financial_institution],axis=1)

origination_date = pd.get_dummies(test.origination_date,prefix='origination_date',drop_first=True)
test = test.drop('origination_date',axis=1)
test=pd.concat([test,origination_date],axis=1)

first_payment_date = pd.get_dummies(test.first_payment_date,drop_first = True,prefix='first_payment_date')
test = test.drop('first_payment_date',axis=1)
test=pd.concat([test,first_payment_date],axis=1)

loan_purpose = pd.get_dummies(test.loan_purpose,prefix='loan_purpose',drop_first=True)
test=test.drop('loan_purpose',axis=1)
test=pd.concat([test,loan_purpose],axis=1)
test.head(3)

,loan_id,insurance_type,m1,m2,m3,m4,m5,m6,m7,m8,m9,m10,m11,m12,interest_rate,unpaid_principal_bal,loan_term,loan_to_value,number_of_borrowers,insurance_percent,co-borrower_credit_score,borrower_credit_score,debt_to_income_ratio,source_Y,source_Z,financial_institution_Browning-Hart,financial_institution_Chapman-Mcmahon,"financial_institution_Cole, Brooks and Vincent",financial_institution_Edwards-Hoffman,"financial_institution_Martinez, Duffy and Bird","financial_institution_Miller, Mcclure and Allen",financial_institution_Nicholson Group,financial_institution_OTHER,financial_institution_Richards-Walters,financial_institution_Richardson Ltd,"financial_institution_Romero, Woods and Johnson","financial_institution_Sanchez, Hays and Wilkerson",financial_institution_Sanchez-Robinson,financial_institution_Suarez Inc,"financial_institution_Swanson, Newton and Miller","financial_institution_Taylor, Hunt and Rodriguez",financial_institution_Thornton-Davis,"financial_institution_Turner, Baldwin and Rhodes",origination_date_01/02/12,origination_date_01/03/12,first_payment_date_Feb-12,first_payment_date_Mar-12,first_payment_date_May-12,loan_purpose_B12,loan_purpose_C86
0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.006336,1.860939,0.748843,0.441531,-1.216630,-0.343189,-1.212759,0.509820,-1.106614,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
1,2,0,0,0,0,0,0,0,0,0,0,0,0,0,1.371267,-0.835886,0.748843,0.731884,0.821943,-0.343189,0.843313,0.587271,0.230015,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1
2,3,0,0,0,0,0,0,0,0,0,0,0,0,0,1.371267,-1.199603,0.748843,0.441531,-1.216630,-0.343189,-1.212759,-1.555532,0.332833,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1

In [30]:
loan_id=test[['loan_id']]
test= test.drop('loan_id',axis=1)

In [31]:
test.columns = X.columns

In [32]:
test_1 = test.drop(drop_cols,axis=1)

In [42]:
#test = test.rename(columns={'first_payment_date_Mar-12':'first_payment_date_03/2012','first_payment_date_May-12':'first_payment_date_05/2012'})
#test.columns

In [33]:
print('X train shape: ', X_train_1.shape)
print('X test shape: ', X_test_1.shape)
print('test_new: ', test_1.shape)

X train shape:  (81240, 16)
X test shape:  (34818, 16)
test_new:  (35866, 16)

In [40]:
from keras.models import Sequential
from keras.layers import Dense, Dropout, Activation, BatchNormalization
import keras
from keras.layers import Input, Dense
from keras.optimizers import SGD

model = Sequential()
model.add(Dense(8, input_dim=16))
model.add(Activation('relu'))
#model.add(BatchNormalization())
model.add(Dropout(0.2))
model.add(Dense(16))
model.add(Activation('relu'))
#model.add(BatchNormalization())
model.add(Dropout(0.2))
model.add(Dense(32))
model.add(Activation('relu'))
model.add(Dropout(0.2))
#model.add(Dense(64))
#model.add(Activation('relu'))
#model.add(Dropout(0.25))
#model.add(Dense(32))
#model.add(Activation('relu'))
#model.add(Dropout(0.25))
model.add(Dense(64))
model.add(Activation('softmax'))
model.add(BatchNormalization())
model.add(Dense(output_dim=1, init='normal', activation='sigmoid'))

#sgd = SGD(lr=0.01, decay=1e-4, momentum=0.7, nesterov=True)
#model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])
#model.compile(optimizer='adam', loss='sparse_categorical_crossentropy', metrics=['accuracy'])
model.fit(X_train_1,y_train,class_weight='balanced', epochs=200, batch_size=32, validation_data=(X_test_1, y_test))

Train on 81240 samples, validate on 34818 samples
Epoch 1/200
81240/81240 [==============================] - 5s 63us/step - loss: 0.0472 - acc: 0.9948 - val_loss: 0.0193 - val_acc: 0.9957
Epoch 2/200
81240/81240 [==============================] - 4s 52us/step - loss: 0.0216 - acc: 0.9956 - val_loss: 0.0184 - val_acc: 0.9961
Epoch 3/200
81240/81240 [==============================] - 4s 51us/step - loss: 0.0208 - acc: 0.9954 - val_loss: 0.0181 - val_acc: 0.9960
Epoch 4/200
81240/81240 [==============================] - 4s 53us/step - loss: 0.0206 - acc: 0.9957 - val_loss: 0.0186 - val_acc: 0.9958
Epoch 5/200
81240/81240 [==============================] - 4s 54us/step - loss: 0.0203 - acc: 0.9957 - val_loss: 0.0185 - val_acc: 0.9959
Epoch 6/200
81240/81240 [==============================] - 4s 54us/step - loss: 0.0205 - acc: 0.9959 - val_loss: 0.0184 - val_acc: 0.9958
Epoch 7/200
81240/81240 [==============================] - 4s 52us/step - loss: 0.0203 - acc: 0.9957 - val_loss: 0.0178 - val_acc: 0.9962
Epoch 8/200
81240/81240 [==============================] - 4s 54us/step - loss: 0.0200 - acc: 0.9959 - val_loss: 0.0188 - val_acc: 0.9960
Epoch 9/200
81240/81240 [==============================] - 4s 50us/step - loss: 0.0200 - acc: 0.9956 - val_loss: 0.0179 - val_acc: 0.9961
Epoch 10/200
81240/81240 [==============================] - 4s 50us/step - loss: 0.0201 - acc: 0.9958 - val_loss: 0.0187 - val_acc: 0.9959
Epoch 11/200
81240/81240 [==============================] - 4s 52us/step - loss: 0.0199 - acc: 0.9959 - val_loss: 0.0190 - val_acc: 0.9958
Epoch 12/200
81240/81240 [==============================] - 4s 53us/step - loss: 0.0201 - acc: 0.9959 - val_loss: 0.0192 - val_acc: 0.9958
Epoch 13/200
81240/81240 [==============================] - 4s 52us/step - loss: 0.0201 - acc: 0.9960 - val_loss: 0.0187 - val_acc: 0.9959
Epoch 14/200
81240/81240 [==============================] - 5s 59us/step - loss: 0.0200 - acc: 0.9959 - val_loss: 0.0188 - val_acc: 0.9959
Epoch 15/200
81240/81240 [==============================] - 4s 54us/step - loss: 0.0198 - acc: 0.9958 - val_loss: 0.0189 - val_acc: 0.9959
Epoch 16/200
81240/81240 [==============================] - 4s 53us/step - loss: 0.0197 - acc: 0.9959 - val_loss: 0.0187 - val_acc: 0.9959
Epoch 17/200
81240/81240 [==============================] - 4s 52us/step - loss: 0.0199 - acc: 0.9957 - val_loss: 0.0186 - val_acc: 0.9960
Epoch 18/200
81240/81240 [==============================] - 4s 55us/step - loss: 0.0200 - acc: 0.9958 - val_loss: 0.0186 - val_acc: 0.9959
Epoch 19/200
81240/81240 [==============================] - 4s 52us/step - loss: 0.0198 - acc: 0.9959 - val_loss: 0.0191 - val_acc: 0.9960
Epoch 20/200
81240/81240 [==============================] - 4s 53us/step - loss: 0.0197 - acc: 0.9961 - val_loss: 0.0191 - val_acc: 0.9959
Epoch 21/200
81240/81240 [==============================] - 4s 53us/step - loss: 0.0195 - acc: 0.9958 - val_loss: 0.0194 - val_acc: 0.9958
Epoch 22/200
81240/81240 [==============================] - 5s 58us/step - loss: 0.0197 - acc: 0.9960 - val_loss: 0.0193 - val_acc: 0.9960
Epoch 23/200
81240/81240 [==============================] - 4s 53us/step - loss: 0.0198 - acc: 0.9960 - val_loss: 0.0192 - val_acc: 0.9958
Epoch 24/200
81240/81240 [==============================] - 4s 53us/step - loss: 0.0196 - acc: 0.9959 - val_loss: 0.0187 - val_acc: 0.9959
Epoch 25/200
81240/81240 [==============================] - 4s 53us/step - loss: 0.0197 - acc: 0.9960 - val_loss: 0.0194 - val_acc: 0.9959
Epoch 26/200
81240/81240 [==============================] - 4s 54us/step - loss: 0.0197 - acc: 0.9960 - val_loss: 0.0192 - val_acc: 0.9961
Epoch 27/200
81240/81240 [==============================] - 4s 53us/step - loss: 0.0196 - acc: 0.9960 - val_loss: 0.0191 - val_acc: 0.9959
Epoch 28/200
81240/81240 [==============================] - 5s 56us/step - loss: 0.0194 - acc: 0.9959 - val_loss: 0.0191 - val_acc: 0.9959
Epoch 29/200
81240/81240 [==============================] - 5s 59us/step - loss: 0.0195 - acc: 0.9961 - val_loss: 0.0187 - val_acc: 0.9958
Epoch 30/200
81240/81240 [==============================] - 4s 54us/step - loss: 0.0195 - acc: 0.9961 - val_loss: 0.0194 - val_acc: 0.9960
Epoch 31/200
81240/81240 [==============================] - 4s 55us/step - loss: 0.0196 - acc: 0.9960 - val_loss: 0.0186 - val_acc: 0.9961
Epoch 32/200
81240/81240 [==============================] - 5s 57us/step - loss: 0.0194 - acc: 0.9959 - val_loss: 0.0190 - val_acc: 0.9961
Epoch 33/200
81240/81240 [==============================] - 5s 56us/step - loss: 0.0197 - acc: 0.9960 - val_loss: 0.0188 - val_acc: 0.9959
Epoch 34/200
81240/81240 [==============================] - 5s 60us/step - loss: 0.0196 - acc: 0.9961 - val_loss: 0.0192 - val_acc: 0.9959
Epoch 35/200
81240/81240 [==============================] - 5s 60us/step - loss: 0.0197 - acc: 0.9960 - val_loss: 0.0192 - val_acc: 0.9958
Epoch 36/200
81240/81240 [==============================] - 5s 56us/step - loss: 0.0195 - acc: 0.9960 - val_loss: 0.0191 - val_acc: 0.9958
Epoch 37/200
81240/81240 [==============================] - 4s 54us/step - loss: 0.0195 - acc: 0.9960 - val_loss: 0.0193 - val_acc: 0.9961
Epoch 38/200
81240/81240 [==============================] - 4s 55us/step - loss: 0.0195 - acc: 0.9961 - val_loss: 0.0188 - val_acc: 0.9960
Epoch 39/200
81240/81240 [==============================] - 5s 56us/step - loss: 0.0195 - acc: 0.9959 - val_loss: 0.0189 - val_acc: 0.9960
Epoch 40/200
81240/81240 [==============================] - 5s 56us/step - loss: 0.0195 - acc: 0.9960 - val_loss: 0.0199 - val_acc: 0.9960
Epoch 41/200
81240/81240 [==============================] - 5s 58us/step - loss: 0.0194 - acc: 0.9960 - val_loss: 0.0192 - val_acc: 0.9960
Epoch 42/200
81240/81240 [==============================] - 5s 57us/step - loss: 0.0196 - acc: 0.9960 - val_loss: 0.0188 - val_acc: 0.9959
Epoch 43/200
81240/81240 [==============================] - 5s 63us/step - loss: 0.0196 - acc: 0.9960 - val_loss: 0.0189 - val_acc: 0.9959
Epoch 44/200
81240/81240 [==============================] - 5s 59us/step - loss: 0.0196 - acc: 0.9960 - val_loss: 0.0187 - val_acc: 0.9959
Epoch 45/200
81240/81240 [==============================] - 5s 61us/step - loss: 0.0195 - acc: 0.9960 - val_loss: 0.0186 - val_acc: 0.9959
Epoch 46/200
81240/81240 [==============================] - 5s 58us/step - loss: 0.0194 - acc: 0.9961 - val_loss: 0.0192 - val_acc: 0.9958
Epoch 47/200
81240/81240 [==============================] - 5s 56us/step - loss: 0.0196 - acc: 0.9961 - val_loss: 0.0186 - val_acc: 0.9961
Epoch 48/200
81240/81240 [==============================] - 5s 58us/step - loss: 0.0194 - acc: 0.9959 - val_loss: 0.0191 - val_acc: 0.9960
Epoch 49/200
81240/81240 [==============================] - 5s 57us/step - loss: 0.0195 - acc: 0.9960 - val_loss: 0.0190 - val_acc: 0.9959
Epoch 50/200
81240/81240 [==============================] - 5s 57us/step - loss: 0.0195 - acc: 0.9961 - val_loss: 0.0193 - val_acc: 0.9959
Epoch 51/200
81240/81240 [==============================] - 5s 63us/step - loss: 0.0196 - acc: 0.9961 - val_loss: 0.0187 - val_acc: 0.9960
Epoch 52/200
81240/81240 [==============================] - 5s 57us/step - loss: 0.0194 - acc: 0.9960 - val_loss: 0.0189 - val_acc: 0.9960
Epoch 53/200
81240/81240 [==============================] - 4s 55us/step - loss: 0.0197 - acc: 0.9959 - val_loss: 0.0188 - val_acc: 0.9960
Epoch 54/200
81240/81240 [==============================] - 5s 59us/step - loss: 0.0195 - acc: 0.9960 - val_loss: 0.0200 - val_acc: 0.9962
Epoch 55/200
81240/81240 [==============================] - 5s 59us/step - loss: 0.0194 - acc: 0.9960 - val_loss: 0.0195 - val_acc: 0.9960
Epoch 56/200
81240/81240 [==============================] - 5s 59us/step - loss: 0.0193 - acc: 0.9961 - val_loss: 0.0192 - val_acc: 0.9961
Epoch 57/200
81240/81240 [==============================] - 5s 65us/step - loss: 0.0196 - acc: 0.9960 - val_loss: 0.0191 - val_acc: 0.9958
Epoch 58/200
81240/81240 [==============================] - 5s 63us/step - loss: 0.0196 - acc: 0.9960 - val_loss: 0.0190 - val_acc: 0.9959
Epoch 59/200
81240/81240 [==============================] - 6s 70us/step - loss: 0.0195 - acc: 0.9960 - val_loss: 0.0188 - val_acc: 0.9960
Epoch 60/200
81240/81240 [==============================] - 6s 75us/step - loss: 0.0194 - acc: 0.9962 - val_loss: 0.0198 - val_acc: 0.9961
Epoch 61/200
81240/81240 [==============================] - 5s 64us/step - loss: 0.0197 - acc: 0.9960 - val_loss: 0.0196 - val_acc: 0.9960
Epoch 62/200
81240/81240 [==============================] - 6s 69us/step - loss: 0.0193 - acc: 0.9961 - val_loss: 0.0190 - val_acc: 0.9959
Epoch 63/200
81240/81240 [==============================] - 5s 65us/step - loss: 0.0195 - acc: 0.9961 - val_loss: 0.0190 - val_acc: 0.9958
Epoch 64/200
81240/81240 [==============================] - 6s 68us/step - loss: 0.0194 - acc: 0.9960 - val_loss: 0.0191 - val_acc: 0.9961
Epoch 65/200
81240/81240 [==============================] - 5s 64us/step - loss: 0.0194 - acc: 0.9961 - val_loss: 0.0191 - val_acc: 0.9959
Epoch 66/200
81240/81240 [==============================] - 5s 56us/step - loss: 0.0199 - acc: 0.9960 - val_loss: 0.0190 - val_acc: 0.9960
Epoch 67/200
81240/81240 [==============================] - 5s 59us/step - loss: 0.0193 - acc: 0.9961 - val_loss: 0.0191 - val_acc: 0.9961
Epoch 68/200
81240/81240 [==============================] - 6s 68us/step - loss: 0.0196 - acc: 0.9960 - val_loss: 0.0184 - val_acc: 0.9959
Epoch 69/200
81240/81240 [==============================] - 6s 74us/step - loss: 0.0196 - acc: 0.9960 - val_loss: 0.0186 - val_acc: 0.9959
Epoch 70/200
81240/81240 [==============================] - 6s 71us/step - loss: 0.0195 - acc: 0.9960 - val_loss: 0.0189 - val_acc: 0.9960
Epoch 71/200
81240/81240 [==============================] - 11s 135us/step - loss: 0.0194 - acc: 0.9961 - val_loss: 0.0190 - val_acc: 0.9960
Epoch 72/200
81240/81240 [==============================] - 7s 92us/step - loss: 0.0192 - acc: 0.9962 - val_loss: 0.0201 - val_acc: 0.9961
Epoch 73/200
81240/81240 [==============================] - 7s 82us/step - loss: 0.0194 - acc: 0.9960 - val_loss: 0.0190 - val_acc: 0.9959
Epoch 74/200
81240/81240 [==============================] - 5s 67us/step - loss: 0.0194 - acc: 0.9960 - val_loss: 0.0190 - val_acc: 0.9959
Epoch 75/200
81240/81240 [==============================] - 5s 64us/step - loss: 0.0192 - acc: 0.9961 - val_loss: 0.0190 - val_acc: 0.9961
Epoch 76/200
81240/81240 [==============================] - 5s 59us/step - loss: 0.0197 - acc: 0.9960 - val_loss: 0.0193 - val_acc: 0.9960
Epoch 77/200
81240/81240 [==============================] - 5s 57us/step - loss: 0.0194 - acc: 0.9960 - val_loss: 0.0191 - val_acc: 0.9960
Epoch 78/200
81240/81240 [==============================] - 5s 56us/step - loss: 0.0194 - acc: 0.9960 - val_loss: 0.0195 - val_acc: 0.9961
Epoch 79/200
81240/81240 [==============================] - 5s 60us/step - loss: 0.0192 - acc: 0.9961 - val_loss: 0.0191 - val_acc: 0.9959
Epoch 80/200
81240/81240 [==============================] - 5s 65us/step - loss: 0.0192 - acc: 0.9962 - val_loss: 0.0193 - val_acc: 0.9961
Epoch 81/200
81240/81240 [==============================] - 5s 61us/step - loss: 0.0193 - acc: 0.9961 - val_loss: 0.0198 - val_acc: 0.9960
Epoch 82/200
81240/81240 [==============================] - 5s 60us/step - loss: 0.0196 - acc: 0.9960 - val_loss: 0.0189 - val_acc: 0.9960
Epoch 83/200
81240/81240 [==============================] - 5s 59us/step - loss: 0.0196 - acc: 0.9960 - val_loss: 0.0186 - val_acc: 0.9960
Epoch 84/200
81240/81240 [==============================] - 5s 61us/step - loss: 0.0194 - acc: 0.9961 - val_loss: 0.0187 - val_acc: 0.9961
Epoch 85/200
81240/81240 [==============================] - 5s 62us/step - loss: 0.0198 - acc: 0.9960 - val_loss: 0.0186 - val_acc: 0.9961
Epoch 86/200
81240/81240 [==============================] - 4s 54us/step - loss: 0.0195 - acc: 0.9961 - val_loss: 0.0192 - val_acc: 0.9959
Epoch 87/200
81240/81240 [==============================] - 5s 63us/step - loss: 0.0195 - acc: 0.9960 - val_loss: 0.0188 - val_acc: 0.9959
Epoch 88/200
81240/81240 [==============================] - 5s 61us/step - loss: 0.0194 - acc: 0.9960 - val_loss: 0.0190 - val_acc: 0.9960
Epoch 89/200
81240/81240 [==============================] - 4s 55us/step - loss: 0.0194 - acc: 0.9960 - val_loss: 0.0191 - val_acc: 0.9960
Epoch 90/200
81240/81240 [==============================] - 4s 55us/step - loss: 0.0192 - acc: 0.9961 - val_loss: 0.0191 - val_acc: 0.9962
Epoch 91/200
81240/81240 [==============================] - 5s 57us/step - loss: 0.0194 - acc: 0.9960 - val_loss: 0.0187 - val_acc: 0.9960
Epoch 92/200
81240/81240 [==============================] - 4s 54us/step - loss: 0.0195 - acc: 0.9960 - val_loss: 0.0189 - val_acc: 0.9962
Epoch 93/200
81240/81240 [==============================] - 4s 55us/step - loss: 0.0193 - acc: 0.9961 - val_loss: 0.0192 - val_acc: 0.9959
Epoch 94/200
81240/81240 [==============================] - 5s 64us/step - loss: 0.0194 - acc: 0.9960 - val_loss: 0.0190 - val_acc: 0.9960
Epoch 95/200
81240/81240 [==============================] - 4s 55us/step - loss: 0.0192 - acc: 0.9960 - val_loss: 0.0199 - val_acc: 0.9960
Epoch 96/200
81240/81240 [==============================] - 5s 56us/step - loss: 0.0194 - acc: 0.9961 - val_loss: 0.0191 - val_acc: 0.9962
Epoch 97/200
81240/81240 [==============================] - 4s 55us/step - loss: 0.0194 - acc: 0.9961 - val_loss: 0.0193 - val_acc: 0.9960
Epoch 98/200
81240/81240 [==============================] - 5s 57us/step - loss: 0.0194 - acc: 0.9961 - val_loss: 0.0190 - val_acc: 0.9961
Epoch 99/200
81240/81240 [==============================] - 5s 58us/step - loss: 0.0195 - acc: 0.9960 - val_loss: 0.0190 - val_acc: 0.9960
Epoch 100/200
81240/81240 [==============================] - 5s 56us/step - loss: 0.0194 - acc: 0.9962 - val_loss: 0.0192 - val_acc: 0.9960
Epoch 101/200
81240/81240 [==============================] - 5s 58us/step - loss: 0.0195 - acc: 0.9961 - val_loss: 0.0196 - val_acc: 0.9959
Epoch 102/200
81240/81240 [==============================] - 5s 60us/step - loss: 0.0193 - acc: 0.9961 - val_loss: 0.0195 - val_acc: 0.9960
Epoch 103/200
81240/81240 [==============================] - 6s 72us/step - loss: 0.0196 - acc: 0.9960 - val_loss: 0.0188 - val_acc: 0.9960
Epoch 104/200
81240/81240 [==============================] - 7s 82us/step - loss: 0.0193 - acc: 0.9961 - val_loss: 0.0189 - val_acc: 0.9960
Epoch 105/200
81240/81240 [==============================] - 5s 60us/step - loss: 0.0192 - acc: 0.9961 - val_loss: 0.0189 - val_acc: 0.9960
Epoch 106/200
81240/81240 [==============================] - 6s 78us/step - loss: 0.0193 - acc: 0.9961 - val_loss: 0.0189 - val_acc: 0.9960
Epoch 107/200
81240/81240 [==============================] - 5s 68us/step - loss: 0.0197 - acc: 0.9960 - val_loss: 0.0188 - val_acc: 0.9960
Epoch 108/200
81240/81240 [==============================] - 5s 58us/step - loss: 0.0195 - acc: 0.9959 - val_loss: 0.0191 - val_acc: 0.9960
Epoch 109/200
81240/81240 [==============================] - 6s 69us/step - loss: 0.0197 - acc: 0.9960 - val_loss: 0.0188 - val_acc: 0.9958
Epoch 110/200
81240/81240 [==============================] - 5s 67us/step - loss: 0.0193 - acc: 0.9960 - val_loss: 0.0188 - val_acc: 0.9959
Epoch 111/200
81240/81240 [==============================] - 5s 64us/step - loss: 0.0195 - acc: 0.9960 - val_loss: 0.0187 - val_acc: 0.9961
Epoch 112/200
81240/81240 [==============================] - 5s 63us/step - loss: 0.0194 - acc: 0.9961 - val_loss: 0.0187 - val_acc: 0.9961
Epoch 113/200
81240/81240 [==============================] - 5s 61us/step - loss: 0.0193 - acc: 0.9960 - val_loss: 0.0186 - val_acc: 0.9959
Epoch 114/200
81240/81240 [==============================] - 5s 63us/step - loss: 0.0193 - acc: 0.9960 - val_loss: 0.0192 - val_acc: 0.9959
Epoch 115/200
81240/81240 [==============================] - 6s 70us/step - loss: 0.0194 - acc: 0.9961 - val_loss: 0.0193 - val_acc: 0.9960
Epoch 116/200
81240/81240 [==============================] - 5s 59us/step - loss: 0.0195 - acc: 0.9961 - val_loss: 0.0192 - val_acc: 0.9959
Epoch 117/200
81240/81240 [==============================] - 5s 64us/step - loss: 0.0192 - acc: 0.9962 - val_loss: 0.0190 - val_acc: 0.9959

Epoch 118/200
81240/81240 [==============================] - 5s 60us/step - loss: 0.0193 - acc: 0.9962 - val_loss: 0.0197 - val_acc: 0.9961
Epoch 119/200
81240/81240 [==============================] - 5s 61us/step - loss: 0.0195 - acc: 0.9960 - val_loss: 0.0195 - val_acc: 0.9961
Epoch 120/200
81240/81240 [==============================] - 6s 71us/step - loss: 0.0192 - acc: 0.9961 - val_loss: 0.0194 - val_acc: 0.9959
Epoch 121/200
81240/81240 [==============================] - 5s 65us/step - loss: 0.0194 - acc: 0.9960 - val_loss: 0.0189 - val_acc: 0.9960
Epoch 122/200
81240/81240 [==============================] - 5s 66us/step - loss: 0.0193 - acc: 0.9961 - val_loss: 0.0191 - val_acc: 0.9960
Epoch 123/200
81240/81240 [==============================] - 5s 65us/step - loss: 0.0193 - acc: 0.9961 - val_loss: 0.0189 - val_acc: 0.9959
Epoch 124/200
81240/81240 [==============================] - 5s 60us/step - loss: 0.0191 - acc: 0.9962 - val_loss: 0.0190 - val_acc: 0.9960
Epoch 125/200
81240/81240 [==============================] - 4s 54us/step - loss: 0.0196 - acc: 0.9961 - val_loss: 0.0190 - val_acc: 0.9960
Epoch 126/200
81240/81240 [==============================] - 5s 56us/step - loss: 0.0192 - acc: 0.9962 - val_loss: 0.0191 - val_acc: 0.9960
Epoch 127/200
81240/81240 [==============================] - 5s 63us/step - loss: 0.0195 - acc: 0.9960 - val_loss: 0.0195 - val_acc: 0.9959
Epoch 128/200
81240/81240 [==============================] - 5s 67us/step - loss: 0.0194 - acc: 0.9960 - val_loss: 0.0192 - val_acc: 0.9958
Epoch 129/200
81240/81240 [==============================] - 6s 69us/step - loss: 0.0193 - acc: 0.9960 - val_loss: 0.0199 - val_acc: 0.9960
Epoch 130/200
81240/81240 [==============================] - 5s 59us/step - loss: 0.0194 - acc: 0.9961 - val_loss: 0.0190 - val_acc: 0.9960
Epoch 131/200
81240/81240 [==============================] - 5s 61us/step - loss: 0.0192 - acc: 0.9961 - val_loss: 0.0193 - val_acc: 0.9960
Epoch 132/200
81240/81240 [==============================] - 5s 67us/step - loss: 0.0192 - acc: 0.9960 - val_loss: 0.0193 - val_acc: 0.9960
Epoch 133/200
81240/81240 [==============================] - 4s 55us/step - loss: 0.0195 - acc: 0.9961 - val_loss: 0.0191 - val_acc: 0.9959
Epoch 134/200
81240/81240 [==============================] - 5s 55us/step - loss: 0.0193 - acc: 0.9962 - val_loss: 0.0189 - val_acc: 0.9959
Epoch 135/200
81240/81240 [==============================] - 4s 55us/step - loss: 0.0196 - acc: 0.9962 - val_loss: 0.0192 - val_acc: 0.9960
Epoch 136/200
81240/81240 [==============================] - 4s 55us/step - loss: 0.0194 - acc: 0.9960 - val_loss: 0.0188 - val_acc: 0.9959
Epoch 137/200
81240/81240 [==============================] - 5s 58us/step - loss: 0.0193 - acc: 0.9961 - val_loss: 0.0195 - val_acc: 0.9959
Epoch 138/200
81240/81240 [==============================] - 5s 65us/step - loss: 0.0192 - acc: 0.9961 - val_loss: 0.0191 - val_acc: 0.9959
Epoch 139/200
81240/81240 [==============================] - 7s 83us/step - loss: 0.0195 - acc: 0.9960 - val_loss: 0.0192 - val_acc: 0.9960
Epoch 140/200
81240/81240 [==============================] - 5s 57us/step - loss: 0.0193 - acc: 0.9960 - val_loss: 0.0193 - val_acc: 0.9959
Epoch 141/200
81240/81240 [==============================] - 5s 61us/step - loss: 0.0195 - acc: 0.9962 - val_loss: 0.0191 - val_acc: 0.9961
Epoch 142/200
81240/81240 [==============================] - 5s 56us/step - loss: 0.0193 - acc: 0.9962 - val_loss: 0.0191 - val_acc: 0.9960
Epoch 143/200
81240/81240 [==============================] - 5s 57us/step - loss: 0.0189 - acc: 0.9962 - val_loss: 0.0200 - val_acc: 0.9960
Epoch 144/200
81240/81240 [==============================] - 4s 55us/step - loss: 0.0195 - acc: 0.9962 - val_loss: 0.0190 - val_acc: 0.9959
Epoch 145/200
81240/81240 [==============================] - 5s 56us/step - loss: 0.0193 - acc: 0.9962 - val_loss: 0.0195 - val_acc: 0.9959
Epoch 146/200
81240/81240 [==============================] - 5s 61us/step - loss: 0.0191 - acc: 0.9962 - val_loss: 0.0195 - val_acc: 0.9960
Epoch 147/200
81240/81240 [==============================] - 5s 64us/step - loss: 0.0194 - acc: 0.9962 - val_loss: 0.0198 - val_acc: 0.9960
Epoch 148/200
81240/81240 [==============================] - 5s 58us/step - loss: 0.0198 - acc: 0.9962 - val_loss: 0.0201 - val_acc: 0.9960
Epoch 149/200
81240/81240 [==============================] - 5s 64us/step - loss: 0.0193 - acc: 0.9961 - val_loss: 0.0189 - val_acc: 0.9960
Epoch 150/200
81240/81240 [==============================] - 5s 58us/step - loss: 0.0190 - acc: 0.9960 - val_loss: 0.0194 - val_acc: 0.9954
Epoch 151/200
81240/81240 [==============================] - 5s 57us/step - loss: 0.0192 - acc: 0.9961 - val_loss: 0.0193 - val_acc: 0.9959
Epoch 152/200
81240/81240 [==============================] - 5s 64us/step - loss: 0.0192 - acc: 0.9961 - val_loss: 0.0196 - val_acc: 0.9959
Epoch 153/200
81240/81240 [==============================] - 5s 63us/step - loss: 0.0194 - acc: 0.9961 - val_loss: 0.0201 - val_acc: 0.9959
Epoch 154/200
81240/81240 [==============================] - 5s 61us/step - loss: 0.0191 - acc: 0.9962 - val_loss: 0.0194 - val_acc: 0.9959
Epoch 155/200
81240/81240 [==============================] - 5s 56us/step - loss: 0.0192 - acc: 0.9961 - val_loss: 0.0198 - val_acc: 0.9959
Epoch 156/200
81240/81240 [==============================] - 6s 70us/step - loss: 0.0195 - acc: 0.9961 - val_loss: 0.0200 - val_acc: 0.9959
Epoch 157/200
81240/81240 [==============================] - 5s 63us/step - loss: 0.0191 - acc: 0.9962 - val_loss: 0.0197 - val_acc: 0.9960
Epoch 158/200
81240/81240 [==============================] - 5s 68us/step - loss: 0.0192 - acc: 0.9962 - val_loss: 0.0192 - val_acc: 0.9959
Epoch 159/200
81240/81240 [==============================] - 5s 63us/step - loss: 0.0195 - acc: 0.9960 - val_loss: 0.0192 - val_acc: 0.9961
Epoch 160/200
81240/81240 [==============================] - 5s 64us/step - loss: 0.0192 - acc: 0.9962 - val_loss: 0.0194 - val_acc: 0.9960
Epoch 161/200
81240/81240 [==============================] - 5s 65us/step - loss: 0.0194 - acc: 0.9962 - val_loss: 0.0193 - val_acc: 0.9960
Epoch 162/200
81240/81240 [==============================] - 5s 58us/step - loss: 0.0193 - acc: 0.9962 - val_loss: 0.0190 - val_acc: 0.9958
Epoch 163/200
81240/81240 [==============================] - 5s 60us/step - loss: 0.0192 - acc: 0.9960 - val_loss: 0.0194 - val_acc: 0.9959
Epoch 164/200
81240/81240 [==============================] - 5s 58us/step - loss: 0.0194 - acc: 0.9961 - val_loss: 0.0193 - val_acc: 0.9960
Epoch 165/200
81240/81240 [==============================] - 5s 61us/step - loss: 0.0194 - acc: 0.9961 - val_loss: 0.0194 - val_acc: 0.9960
Epoch 166/200
81240/81240 [==============================] - 5s 61us/step - loss: 0.0195 - acc: 0.9961 - val_loss: 0.0192 - val_acc: 0.9959
Epoch 167/200
81240/81240 [==============================] - 4s 54us/step - loss: 0.0192 - acc: 0.9963 - val_loss: 0.0197 - val_acc: 0.9960
Epoch 168/200
81240/81240 [==============================] - 4s 54us/step - loss: 0.0195 - acc: 0.9960 - val_loss: 0.0193 - val_acc: 0.9959
Epoch 169/200
81240/81240 [==============================] - 5s 56us/step - loss: 0.0191 - acc: 0.9960 - val_loss: 0.0195 - val_acc: 0.9958
Epoch 170/200
81240/81240 [==============================] - 5s 57us/step - loss: 0.0192 - acc: 0.9962 - val_loss: 0.0201 - val_acc: 0.9959
Epoch 171/200
81240/81240 [==============================] - 5s 60us/step - loss: 0.0193 - acc: 0.9963 - val_loss: 0.0194 - val_acc: 0.9958
Epoch 172/200
81240/81240 [==============================] - 5s 61us/step - loss: 0.0193 - acc: 0.9961 - val_loss: 0.0192 - val_acc: 0.9959
Epoch 173/200
81240/81240 [==============================] - 4s 54us/step - loss: 0.0192 - acc: 0.9962 - val_loss: 0.0201 - val_acc: 0.9960
Epoch 174/200
81240/81240 [==============================] - 5s 58us/step - loss: 0.0191 - acc: 0.9962 - val_loss: 0.0205 - val_acc: 0.9959
Epoch 175/200
81240/81240 [==============================] - 5s 59us/step - loss: 0.0193 - acc: 0.9960 - val_loss: 0.0194 - val_acc: 0.9958
Epoch 176/200
81240/81240 [==============================] - 5s 60us/step - loss: 0.0193 - acc: 0.9961 - val_loss: 0.0192 - val_acc: 0.9959
Epoch 177/200
81240/81240 [==============================] - 5s 58us/step - loss: 0.0193 - acc: 0.9961 - val_loss: 0.0195 - val_acc: 0.9959
Epoch 178/200
81240/81240 [==============================] - 5s 59us/step - loss: 0.0193 - acc: 0.9961 - val_loss: 0.0196 - val_acc: 0.9960
Epoch 179/200
81240/81240 [==============================] - 4s 55us/step - loss: 0.0194 - acc: 0.9962 - val_loss: 0.0197 - val_acc: 0.9960
Epoch 180/200
81240/81240 [==============================] - 4s 54us/step - loss: 0.0195 - acc: 0.9962 - val_loss: 0.0198 - val_acc: 0.9960
Epoch 181/200
81240/81240 [==============================] - 4s 55us/step - loss: 0.0192 - acc: 0.9962 - val_loss: 0.0200 - val_acc: 0.9959
Epoch 182/200
81240/81240 [==============================] - 4s 54us/step - loss: 0.0192 - acc: 0.9961 - val_loss: 0.0202 - val_acc: 0.9957
Epoch 183/200
81240/81240 [==============================] - 4s 54us/step - loss: 0.0191 - acc: 0.9962 - val_loss: 0.0199 - val_acc: 0.9958
Epoch 184/200
81240/81240 [==============================] - 4s 54us/step - loss: 0.0194 - acc: 0.9960 - val_loss: 0.0201 - val_acc: 0.9960
Epoch 185/200
81240/81240 [==============================] - 4s 55us/step - loss: 0.0194 - acc: 0.9961 - val_loss: 0.0199 - val_acc: 0.9960
Epoch 186/200
81240/81240 [==============================] - 5s 67us/step - loss: 0.0194 - acc: 0.9962 - val_loss: 0.0191 - val_acc: 0.9959
Epoch 187/200
81240/81240 [==============================] - 5s 63us/step - loss: 0.0192 - acc: 0.9963 - val_loss: 0.0200 - val_acc: 0.9957
Epoch 188/200
81240/81240 [==============================] - 4s 53us/step - loss: 0.0196 - acc: 0.9961 - val_loss: 0.0199 - val_acc: 0.9959
Epoch 189/200
81240/81240 [==============================] - 5s 56us/step - loss: 0.0193 - acc: 0.9962 - val_loss: 0.0197 - val_acc: 0.9960
Epoch 190/200
81240/81240 [==============================] - 4s 54us/step - loss: 0.0194 - acc: 0.9961 - val_loss: 0.0201 - val_acc: 0.9959
Epoch 191/200
81240/81240 [==============================] - 5s 63us/step - loss: 0.0194 - acc: 0.9960 - val_loss: 0.0190 - val_acc: 0.9960
Epoch 192/200
81240/81240 [==============================] - 5s 59us/step - loss: 0.0193 - acc: 0.9960 - val_loss: 0.0198 - val_acc: 0.9960
Epoch 193/200
81240/81240 [==============================] - 5s 59us/step - loss: 0.0191 - acc: 0.9963 - val_loss: 0.0195 - val_acc: 0.9960
Epoch 194/200
81240/81240 [==============================] - 5s 61us/step - loss: 0.0196 - acc: 0.9960 - val_loss: 0.0194 - val_acc: 0.9960
Epoch 195/200
81240/81240 [==============================] - 5s 61us/step - loss: 0.0190 - acc: 0.9962 - val_loss: 0.0195 - val_acc: 0.9960
Epoch 196/200
81240/81240 [==============================] - 6s 68us/step - loss: 0.0193 - acc: 0.9963 - val_loss: 0.0202 - val_acc: 0.9960
Epoch 197/200
81240/81240 [==============================] - 5s 65us/step - loss: 0.0194 - acc: 0.9962 - val_loss: 0.0192 - val_acc: 0.9960
Epoch 198/200
81240/81240 [==============================] - 5s 67us/step - loss: 0.0193 - acc: 0.9961 - val_loss: 0.0195 - val_acc: 0.9960
Epoch 199/200
81240/81240 [==============================] - 8s 96us/step - loss: 0.0195 - acc: 0.9961 - val_loss: 0.0196 - val_acc: 0.9961
Epoch 200/200
81240/81240 [==============================] - 7s 81us/step - loss: 0.0190 - acc: 0.9961 - val_loss: 0.0193 - val_acc: 0.9960

In [47]:
y_pred = model.predict(X_test_1)

y_pred = (y_pred > 0.2)

print('Classification Report:\n',classification_report(y_test,y_pred))
print('ConfusionMatrix:\n',confusion_matrix(y_test,y_pred))

Classification Report:
              precision    recall  f1-score   support

          0       1.00      1.00      1.00     34627
          1       0.59      0.53      0.56       191

avg / total       1.00      1.00      1.00     34818

ConfusionMatrix:
 [[34555    72]
 [   89   102]]

In [49]:
m13 = model.predict(test_1)

m13 = (m13 > 0.2)
m13 = pd.DataFrame(m13)

submission = pd.concat([loan_id,m13],axis=1)

submission.columns = ['loan_id','m13']
submission.to_csv('./submission_mlp_22_.2.csv',header=True,index=False)